.title {
  a {
    background-image: url("../../images/ballers-logo-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    text-indent: -999px;
    display: block;
  }
}
