.court-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;

  li {
    padding-bottom: 10px;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
